<div class="padrao" *ngIf="idAcao !== 99">
  <div class="div-barra">
    <mat-toolbar>
      <span class="example-spacer">{{labelCadastro}}</span>
    </mat-toolbar>
  </div>
  <div class="padrao">
    <form [formGroup]="formulario" autocomplete="off">
      <div class="col-med-4">
        <mat-form-field appearance="outline" class="col-max">
          <mat-label>Responsável</mat-label>
          <input matInput formControlName="usuario" readonly="true">
        </mat-form-field>
        <mat-form-field appearance="outline" class="col-max">
          <mat-label>Nº Lançamento</mat-label>
          <input matInput formControlName="nlanc" readonly="true">
        </mat-form-field>
        <mat-form-field appearance="outline" class="col-max">
          <mat-label>Data</mat-label>
          <input matInput formControlName="data" [readonly]="true">
        </mat-form-field>
        <div class="col-med-1">
          <mat-form-field field appearance="outline" class="col-max"
            *ngIf="( (idAcao != getAcoes()[ 'Consulta']) && (idAcao != getAcoes()[ 'Exclusao']) && (idAcao != getAcoes()[ 'Atualizacao']))">
            <mat-label>Situação</mat-label>
            <mat-select formControlName="situacao">
              <mat-option *ngFor="let sit of situacoes" [value]="sit.id">
                {{sit.descricao}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="NoValidtouchedOrDirty('situacao')">{{getMensafield('situacao')}}</mat-error>
          </mat-form-field>
          <mat-form-field field appearance="outline" class="col-max"
            *ngIf="( (idAcao == getAcoes()[ 'Consulta']) || (idAcao == getAcoes()[ 'Exclusao']) )">
            <mat-label>Situação</mat-label>
            <input matInput formControlName="situacao_" [readonly]="readOnly">
          </mat-form-field>
        </div>
      </div>
      <div class="col-med-4">
        <mat-form-field appearance="outline" class="col-max">
          <mat-label>Código</mat-label>
          <input matInput formControlName="codigo" [readonly]="true">
        </mat-form-field>
        <mat-form-field appearance="outline" class="col-max">
          <mat-label>Novo Código</mat-label>
          <input matInput formControlName="novo_codigo" [readonly]="readOnly">
        </mat-form-field>
        <mat-form-field appearance="outline" class="col-max column-span-2">
          <mat-label>Descrição</mat-label>
          <input matInput formControlName="descricao" readonly="true">
        </mat-form-field>
      </div>
      <div class="col-med-1">
        <mat-form-field field appearance="outline" class="col-max">
          <mat-label>Centro De Custo Original</mat-label>
          <input matInput formControlName="cc_original" [readonly]="true">
        </mat-form-field>
      </div>
      <div class="col-med-1">
        <mat-form-field field appearance="outline" class="col-max"
          *ngIf="( (idAcao != getAcoes()[ 'Consulta']) && (idAcao != getAcoes()[ 'Exclusao']) && (idAcao != getAcoes()[ 'Atualizacao']))">
          <mat-label>Centro De Custo Novo</mat-label>
          <mat-select formControlName="cc_novo">
            <mat-option *ngFor="let cc of data.ccs" [value]="cc.codigo">
              {{cc.descricao}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="NoValidtouchedOrDirty('cc_novo')">{{getMensafield('cc_novo')}}</mat-error>
        </mat-form-field>
        <mat-form-field field appearance="outline" class="col-max"
          *ngIf="( (idAcao == getAcoes()[ 'Consulta']) || (idAcao == getAcoes()[ 'Exclusao']) )">
          <mat-label>Centro De Custo Novo</mat-label>
          <input matInput formControlName="cc_novo_" [readonly]="readOnly">
        </mat-form-field>
      </div>
      <div class="col-med-2">
        <mat-form-field field appearance="outline" class="col-max"
          *ngIf="( (idAcao != getAcoes()[ 'Consulta']) && (idAcao != getAcoes()[ 'Exclusao']) && (idAcao != getAcoes()[ 'Atualizacao']))">
          <mat-label>Condicao</mat-label>
          <mat-select formControlName="condicao">
            <mat-option *ngFor="let condicao of lsCondicoes" [value]="condicao.idx">
              {{condicao.descricao}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="NoValidtouchedOrDirty('condicao')">{{getMensafield('condicao')}}</mat-error>
        </mat-form-field>
        <mat-form-field field appearance="outline" class="col-max"
          *ngIf="( (idAcao == getAcoes()[ 'Consulta']) || (idAcao == getAcoes()[ 'Exclusao']) )">
          <mat-label>Condicao</mat-label>
          <input matInput formControlName="condicao_" [readonly]="readOnly">
        </mat-form-field>
        <mat-form-field field appearance="outline" class="col-max"
          *ngIf="( (idAcao != getAcoes()[ 'Consulta']) && (idAcao != getAcoes()[ 'Exclusao']) && (idAcao != getAcoes()[ 'Atualizacao']))">
          <mat-label>Book</mat-label>
          <mat-select formControlName="book">
            <mat-option *ngFor="let resposta of respostas" [value]="resposta.sigla">
              {{resposta.descricao}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="NoValidtouchedOrDirty('condicao')">{{getMensafield('condicao')}}</mat-error>
        </mat-form-field>
        <mat-form-field field appearance="outline" class="col-max"
          *ngIf="( (idAcao == getAcoes()[ 'Consulta']) || (idAcao == getAcoes()[ 'Exclusao']) )">
          <mat-label>Book</mat-label>
          <input matInput formControlName="book_" [readonly]="readOnly">
        </mat-form-field>
      </div>
      <div class="col-med-1">
        <mat-form-field appearance="outline" class="col-max">
          <mat-label>Observação</mat-label>
          <input matInput formControlName="obs" oninput="this.value = this.value.toUpperCase()" [readonly]="readOnly">
        </mat-form-field>
      </div>
      <div class="button-container-right">
        <button mat-raised-button color="accent" (click)="closeModal()">
          <mat-icon>cancel</mat-icon>
          <span>{{getLabelCancel()}}</span>
        </button>
        <button mat-raised-button color="primary" (click)="actionFunction()" [disabled]="gravando" *ngIf="idAcao != 3">
          <mat-icon>check</mat-icon>
          <span>{{acao}}</span>
        </button>
      </div>
    </form>
  </div>
</div>
