<div class="div-barra">
    <span class="example-spacer">Filtro Da Pesquisa</span>
    <button mat-icon-button aria-label="Example icon-button with share icon " matTooltipPosition="above"
      (click)="onSaveConfig()" matTooltip="Salvar Parâmetros" matTooltipPosition="above">
      <mat-icon>brightness_high</mat-icon>
    </button>
    <button mat-icon-button aria-label="Example icon-button with share icon " matTooltipPosition="above"
      (click)="onGetExcelToEmailOrDownLoad('e-mail')" matTooltip="Enviar Consulta Por E-Mail" matTooltipPosition="above" *ngIf="email">
      <mat-icon>email</mat-icon>
    </button>
    <button mat-icon-button aria-label="Example icon-button with share icon " matTooltipPosition="above"
      (click)="onGetExcelToEmailOrDownLoad('download')" matTooltip="Baixar A Consulta" matTooltipPosition="above" *ngIf="download">
      <mat-icon>cloud_download</mat-icon>
    </button>
    <button mat-icon-button aria-label="Example icon-button with share icon " matTooltipPosition="above"
    (click)="onHide()" matTooltip="Mostrar/Esconder" matTooltipPosition="above">
    <mat-icon>remove_red_eye</mat-icon>
   </button>

</div>
<form [formGroup]="parametros" autocomplete="off" *ngIf="!hide">
  <div class="check">
    <mat-checkbox class="check-margem" formControlName="hoje"    (change)="onHoje($event)"  >Hoje</mat-checkbox>
    <mat-checkbox class="check-margem" formControlName="cleardate" (change)="onLimpar($event)">Limpar As Datas</mat-checkbox>
  </div>
  <div class="col-med-4">
    <mat-form-field appearance="outline" class="col-max">
      <mat-label>Data Inicial</mat-label>
      <input matInput formControlName="dtinicial" mask="00/00/0000" placeholder="dd/mm/aaaa">
      <mat-error *ngIf="NoValidtouchedOrDirty('dtinicial')">{{getMensafield('dtinicial')}}</mat-error>
  </mat-form-field>
  <mat-form-field appearance="outline" class="col-max">
    <mat-label>Data Final</mat-label>
    <input matInput formControlName="dtfinal" mask="00/00/0000" placeholder="dd/mm/aaaa">
    <mat-error *ngIf="NoValidtouchedOrDirty('dtfinal')">{{getMensafield('dtfinal')}}</mat-error>
  </mat-form-field>

  <mat-form-field field appearance="outline" class="column-span-2">
    <mat-label>Ordernado Por</mat-label>
    <mat-select formControlName="orderby" (selectionChange)="onChangeParametros()">
      <mat-option *ngFor="let ordem of orderby" [value]="ordem.sigla">
        {{ordem.descricao}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  </div>
  <div class="col-med-2">
    <mat-form-field field appearance="outline" class="col-max">
      <mat-label>Centro Custo</mat-label>
      <mat-select formControlName="ccs" (selectionChange)="onChangeParametros()">
        <mat-option *ngFor="let cc of ccs" [value]="cc.codigo">
          {{cc.descricao}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field field appearance="outline" class="col-max">
      <mat-label>Novo Centro Custo</mat-label>
      <mat-select formControlName="cc_novo" (selectionChange)="onChangeParametros()">
        <mat-option *ngFor="let cc of ccs_alterados" [value]="cc.codigo">
          {{cc.descricao}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="col-med-2">
    <mat-form-field field appearance="outline" class="col-max">
      <mat-label>Grupos</mat-label>
      <mat-select formControlName="grupos" (selectionChange)="onChangeParametros()">
        <mat-option *ngFor="let grupo of grupos" [value]="grupo.codigo">
          {{grupo.descricao}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field field appearance="outline" class="col-max">
      <mat-label>Situações</mat-label>
      <mat-select formControlName="situacoes" (selectionChange)="onChangeParametros()">
        <mat-option *ngFor="let situacao of situacoesInventarioPar" [value]="situacao.id">
          {{situacao.descricao}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="col-med-2">
    <mat-form-field field appearance="outline" class="col-max">
      <mat-label>Origem</mat-label>
      <mat-select formControlName="origem" (selectionChange)="onChangeParametros()">
        <mat-option *ngFor="let origem of Origens" [value]="origem.sigla">
          {{origem.descricao}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field field appearance="outline" class="col-max">
      <mat-label>Executores</mat-label>
      <mat-select formControlName="executor" (selectionChange)="onChangeParametros()">
        <mat-option *ngFor="let executor of executores" [value]="executor.id_usuario">
          {{executor.razao}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="col-med-4">
    <mat-form-field appearance="outline" class="col-max">
      <mat-label>Código</mat-label>
      <input matInput formControlName="codigo">
      <button *ngIf="hasValue('codigo')" matSuffix mat-icon-button aria-label="Clear" (click)="clearValue('codigo')">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <mat-form-field appearance="outline" class="col-max">
      <mat-label>Novo</mat-label>
      <input matInput formControlName="novo">
      <button *ngIf="hasValue('novo')" matSuffix mat-icon-button aria-label="Clear" (click)="clearValue('novo')">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <mat-form-field field appearance="outline" class="col-max">
      <mat-label>Condição</mat-label>
      <mat-select formControlName="condicao" (selectionChange)="onChangeParametros()">
        <mat-option *ngFor="let condicao of condicoes" [value]="condicao.idx">
          {{condicao.descricao}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field field appearance="outline" class="col-max">
      <mat-label>Book</mat-label>
      <mat-select formControlName="book" (selectionChange)="onChangeParametros()">
        <mat-option *ngFor="let resposta of respostas" [value]="resposta.sigla">
          {{resposta.descricao}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="col-med-1">
    <mat-form-field field appearance="outline" class="col-max">
      <mat-label>Principal</mat-label>
      <mat-select formControlName="id_principal" (selectionChange)="onChangeParametros()">
        <mat-option *ngFor="let principal of principais" [value]="principal.codigo">
          {{principal.descricao}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="col-med-1">
    <mat-form-field appearance="outline" class="col-max">
      <mat-label>Descrição</mat-label>
      <input class="uppercase" matInput  formControlName="descricao">
      <button *ngIf="hasValue('descricao')" matSuffix mat-icon-button aria-label="Clear" (click)="clearValue('descricao')">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </div>
  <div class="col-med-1">
    <mat-form-field appearance="outline" class="col-max">
      <mat-label>Observação</mat-label>
      <input class="uppercase" matInput  formControlName="observacao">
      <button *ngIf="hasValue('observacao')" matSuffix mat-icon-button aria-label="Clear" (click)="clearValue('observacao')">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </div>
</form>
