<div class="div-barra">
  <mat-toolbar>
    <span class="example-spacer">FOTOS</span>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon" (click)="getFotos()"
      matTooltip="Atualizar" matTooltipPosition="above">
      <mat-icon>rotate_right</mat-icon>
    </button>
    <button mat-icon-button aria-label="Example icon-button with share icon " matTooltipPosition="above"
      (click)="onRetorno()" matTooltip="Retorno" matTooltipPosition="above">
      <mat-icon>home</mat-icon>
    </button>
  </mat-toolbar>
</div>
<div *ngIf="images.length > 0">
  <ng-image-slider #nav [images]="images" [infinite]="false" [autoSlide]="1" [imageSize]="{width: '25%', height: 350}"
    slideImage="1">
  </ng-image-slider>
</div>
